<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1086962010984-6ck978imttgd7bqc7mbaue0qh0h9rcat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086962010984-6ck978imttgd7bqc7mbaue0qh0h9rcat</string>
	<key>API_KEY</key>
	<string>AIzaSyBd1ts5tCVsjz06BlnSq3fkzrUwxB16oZI</string>
	<key>GCM_SENDER_ID</key>
	<string>1086962010984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GabeB.myStatus</string>
	<key>PROJECT_ID</key>
	<string>mystatus-589d0</string>
	<key>STORAGE_BUCKET</key>
	<string>mystatus-589d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086962010984:ios:b4096b67f45a5333</string>
	<key>DATABASE_URL</key>
	<string>https://mystatus-589d0.firebaseio.com</string>
</dict>
</plist>